<section class="optionwindow-optionwindow" [ngClass]="rootClassName">
  <div class="optionwindow-priceblock">
    <span class="optionwindow-text"><span>Цена</span></span>
    <span class="optionwindow-text02"><span>от</span></span>
    <span class="optionwindow-text04"><span>до</span></span>
    <div class="optionwindow-frame14">
      <div class="optionwindow-frame1">
        <span class="optionwindow-text06">Магазин</span>
        <span class="optionwindow-text07">Цена</span>
      </div>
      <div class="optionwindow-frame2">
        <span class="optionwindow-text08">Магазин</span>
        <span class="optionwindow-text09"><span>Цена</span></span>
      </div>
      <div class="optionwindow-frame3">
        <span class="optionwindow-text11"><span>Магазин</span></span>
        <span class="optionwindow-text13"><span>Цена</span></span>
      </div>
      <div class="optionwindow-frame4">
        <span class="optionwindow-text15"><span>Магазин</span></span>
        <span class="optionwindow-text17"><span>Цена</span></span>
      </div>
      <button class="optionwindow-texthighlightbutton">
        <span class="optionwindow-text19"><span>Полный список</span></span>
      </button>
    </div>
    <form class="optionwindow-form"></form>
  </div>
  <div class="optionwindow-productblock">
    <span class="optionwindow-text21"><span>Характеристики:</span></span>
    <a routerLink="/product-page" class="optionwindow-navlink">{{ text1 }}</a>
    <span class="optionwindow-text23">{{ text }}</span>
  </div>
  <form class="optionwindow-form1">
    <img
      [attr.alt]="image_alt"
      [attr.src]="image_src"
      class="optionwindow-image"
    />
  </form>
</section>
