:host { 
  display: contents; 
}
.main-page-container {
  min-height: 100vh;
  background-color: #0C0D18; 
  background-image: url(/assets/playground_assets/pastedimage-42p-2400h.png);
  background-repeat: no-repeat; 
  background-position: center center; 
  background-attachment: fixed;
}
.main-page-frame-mainpage {
  width: 100%;
  min-height: 2500px;
  height: fit-content;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-start;
}
.main-page-pasted-image {
  width: 1440px;
  align-self: center;
}
.main-page-pasted-category {
  width: 180px;
  height: 150px;
  border-radius: 5px;
  align-self: center;
}
.main-page-goods {
  top: 215px;
  left: 0px;
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-template-rows: min-content auto min-content;
  grid-auto-flow: row;
  row-gap: 20px;
  column-gap: 70px;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(30, 39, 75, 0.8);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-page-button {
  width: 180px;
  height: 150px;
  margin: auto;
  text-align: center;
  font-family: Montserrat;
  border-width: 0px;
  border-radius: 5px;
  background-size: cover;
  background-color: transparent;
  background-position: center;
}
.main-page-text {
  top: 150px;
  left: 5px;
  color: rgb(255, 255, 255);
  width: 180px;
  margin: auto;
  font-size: 15px;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
}
.main-page-card-2 {
  width: 180px;
  height: 197px;
  margin: auto;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}
.main-page-card-3 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 180px;
  height: 197px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.main-page-form {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 125;
  display: flex;
  position: absolute;
  background-image: linear-gradient(0deg, rgb(47, 28, 158) 1.00%,rgba(44, 62, 80, 0) 100.00%);
}
.main-page-frame-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 99.00%);
  z-index: 20;
}
.main-page-menuburgerbutton {
  top: 0px;
  left: 0px;
  width: 105px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.main-page-mainmenu {
  top: 0px;
  right: 0px;
  width: 105px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.main-page-menubutton {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: 21px;
  margin: auto;
  position: absolute;
}
.main-page-logobutton {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 264px;
  bottom: 0px;
  height: 66px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.main-page-text15 {
  top: 15px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.main-page-text17 {
  top: 0px;
  color: rgba(255, 255, 255, 1);
  right: 35px;
  width: auto;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  padding-top: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.main-page-searchinputbar {
  top: 80px;
  max-width: 860px;
  min-width: 330px;
  width:auto;
  height: 40px;
  margin-left:auto;
  margin-right:auto;
  display: table;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-shrink: 0;
  border-radius: 20px;
}
.main-page-textinput {
  left: 0px;
  border-style: none;
  width: 85%;
  height: 40px;
  position: absolute;
  font-size: 15;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  padding-top: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 20px;
  padding-right: 7%;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.main-page-searchbutton {
  top: 0px;
  left: 80%;
  max-width: 100px;
  min-width: 80px;
  width: 20%;
  bottom: 0px;
  height: 42px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
}
.main-page-search {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 23px;
  margin: auto;
  position: absolute;
}







.component-container {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.component-form {
  right: 5%;
  width: auto;
  height: 42px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
}
.component-text {
  color: #ffffff;
  font-size: 12px;
  font-family: Montserrat;
}
.component-form1 {
  width: 45%;
  height: 400px;
  margin: auto;
  display: grid;
  padding: 20px;
  align-items: flex-start;
  grid-column-gap: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.component-text01 {
  width: auto;
  position: relative;
  font-style: normal;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 700;
}
.component-form2 {
  width: 600px;
  height: auto;
  display: grid;
  grid-gap: 10px;
  position: relative;
  max-height: 500px;
}
.component-text02 {
  width: 100%;
  text-align: left;
  font-family: Montserrat;
  padding-top: 15px;
}
.component-thq-dropdown {
  width: 280px;
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  background-image: linear-gradient(90deg, rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.component-dropdown-toggle {
  top: 0px;
  fill: #595959;
  left: 0px;
  color: #ffffff;
  width: 100%;
  bottom: 0px;
  height: 39px;
  margin: auto;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.component-text03 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.component-dropdown-arrow {
  transition: 0.3s;
}
.component-icon {
  fill: #ffffff;
  width: 30px;
  height: 26px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.component-dropdown-list {
  top: 50px;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  min-height: 50px;
  transition: 0.3s;
  align-items: stretch;
  border-color: #525252;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
  list-style-type: none;
  background-color: #3E4561;
  list-style-position: inside;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.component-dropdown {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.component-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 50px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.component-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #555C76;
}
.component-text06 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat Alternates;
  font-weight: 400;
}
.component-dropdown1 {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.component-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 50px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.component-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #555C76;
}
.component-text09 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat Alternates;
  font-weight: 400;
}
.component-dropdown2 {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.component-dropdown-toggle3 {
  top: 0px;
  fill: #595959;
  left: 0px;
  color: #595959;
  width: 100%;
  bottom: 0px;
  margin: auto;
  display: inline-flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.component-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #555C76;
}
.component-text10 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat Alternates;
  font-weight: 400;
}
.component-dropdown3 {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.component-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 50px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}
.component-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #555C76;
}
.component-text11 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-family: Montserrat Alternates;
  font-weight: 400;
}
.component-text14 {
  width: 100%;
  text-align: left;
  font-family: Montserrat;
  padding-top: 20px;
}
.component-form3 {
  width: 25%;
  min-height: 42px;
  height: auto;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
  padding: 0.5rem;
}
.component-text15 {
  color: #ffffff;
  font-size: 12px;
  font-family: Montserrat;
}




textarea:focus, input:focus{
  outline: none;
}