<body style="background-color: #0C0D18; background-image: url(/assets/playground_assets/pastedimage-42p-2400h.png);
background-repeat: no-repeat; background-position: center center; background-attachment: fixed;">
<div class="main-page-container">
  <div class="main-page-frame-mainpage">
    <div class="main-page-goods">
      <div class="main-page-product-row1">
        <div class="main-page-card-1">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="screen"
            src="../../../assets/playground_assets/quaritsch-photography-3xQ65cknLPk-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">мониторы</span>

        </div>
        <div class="main-page-card-2">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="keyboard"
            src="../../../assets/playground_assets/martin-garrido-cVUPic1cbd4-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">клавиатуры</span>

        </div>
        <div class="main-page-card-3">
          
          <a href="/products/search-page/myshi" class="main-page-button">
            <img
            alt="mouse"
            src="../../../assets/playground_assets/istockphoto-1091778794-612x612.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">мыши</span>

        </div>
        <div class="main-page-card-4">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="mouse-pad"
            src="../../../assets/playground_assets/sebastian-bednarek-Lxcn2wrM6UY-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">коврики для мыши</span>

        </div>
        <div class="main-page-card-5">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="webcam"
            src="../../../assets/playground_assets/ernest-ojeh-cJGDRjl0TEs-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">веб-камеры</span>

        </div>
      </div>
      <div class="main-page-product-row2">
        <div class="main-page-card-1">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="headphones"
            src="../../../assets/playground_assets/tomasz-gawlowski-YDZPdqv3FcA-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">наушники</span>

        </div>
        <div class="main-page-card-2">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="cable"
            src="../../../assets/playground_assets/istockphoto-173689446-612x612.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">кабели</span>

        </div>
        <div class="main-page-card-3">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="external-data-storage"
            src="../../../assets/playground_assets/istockphoto-1437904615-170667a.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">внешние накопители данных</span>

        </div>
        <div class="main-page-card-4">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="smartwatch"
            src="../../../assets/playground_assets/istockphoto-939659044-612x612.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">умные часы</span>

        </div>
        <div class="main-page-card-5">
          
          <a href="/products/search-page" class="main-page-button">
            <img
            alt="power-unit"
            src="../../../assets/playground_assets/istockphoto-479460328-612x612.jpg"
            class="main-page-pasted-category"
            />
          </a>
          <span class="main-page-text">универсальные блоки питания</span>

        </div>
      </div>
      <div class="main-page-product-row3">
        <div class="main-page-card-1">
          <form class="main-page-button">
            <img
            alt="soon"
            src="../../../assets/playground_assets/daniel-korpai-8GDCzWrcE3M-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </form>
        </div>
        <div class="main-page-card-2">
          <form class="main-page-button">
            <img
            alt="soon"
            src="../../../assets/playground_assets/daniel-korpai-8GDCzWrcE3M-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </form>
        </div>
        <div class="main-page-card-3">
          <form class="main-page-button">
            <img
            alt="soon"
            src="../../../assets/playground_assets/daniel-korpai-8GDCzWrcE3M-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </form>
        </div>
        <div class="main-page-card-4">
          <form class="main-page-button">
            <img
            alt="soon"
            src="../../../assets/playground_assets/daniel-korpai-8GDCzWrcE3M-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </form>
        </div>
        <div class="main-page-card-5">
          <form class="main-page-button">
            <img
            alt="soon"
            src="../../../assets/playground_assets/daniel-korpai-8GDCzWrcE3M-unsplash.jpg"
            class="main-page-pasted-category"
            />
          </form>
        </div>
      </div>
    </div>
    <categories-and-brands
      rootClassName="categories-and-brands-root-class-name"
    ></categories-and-brands>
    <form class="main-page-form"></form>
    <header class="main-page-frame-header">
      <button class="main-page-menuburgerbutton">
        <img
          alt="MainmenuI278"
          src="/assets/playground_assets/mainmenui278-di79-200h.png"
          class="main-page-mainmenu"
        />
        <img
          alt="MenubuttonI293"
          src="/assets/playground_assets/menubuttoni293-t8je.svg"
          class="main-page-menubutton"
        />
      </button>
      <button class="main-page-logobutton">
        <a href="/" class="main-page-text15"><span>technics nearby.</span></a>
      </button>
      <span class="main-page-text17"><span>войти</span></span>
    </header>
    <div class="main-page-searchinputbar">
      <input type="text" placeholder="Поиск..." class="main-page-textinput" />
      <a href="/products/search-page" class="main-page-searchbutton">
        <img
          alt="SearchI288"
          src="/assets/playground_assets/searchi288-7f8.svg"
          class="main-page-search"
        />
      </a>
    </div>
  </div>
</div>
</body>