:host { 
  display: contents; 
}
.search-page-container {
  min-height: 100vh;
}
.search-page-frame-searchpage {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 410px;
}
.search-page-pasted-image {
  top: 117px;
  left: 0px;
  right: 0px;
  width: 1440px;
  margin: auto;
  position: absolute;
  align-self: center;
}
.search-page-frame-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0;
  position: fixed;
  align-self: auto;
  box-sizing: border-box;
  align-items: stretch;
  flex-shrink: 1;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
  z-index: 20;
}
.search-page-menuburgerbutton {
  top: 0px;
  left: 0px;
  width: 105px;
  bottom: 0px;
  height: 50px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.search-page-mainmenu {
  top: 0px;
  right: 0px;
  width: 105px;
  height: 50px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.search-page-menubutton {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 21px;
  bottom: 0px;
  height: 21px;
  margin: auto;
  position: absolute;
}
.search-page-logobutton {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 264px;
  bottom: 0px;
  height: 66px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.search-page-text {
  top: 15px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 26px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.search-page-text02 {
  top: 0px;
  color: rgba(255, 255, 255, 1);
  right: 35px;
  width: auto;
  bottom: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  padding-top: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.search-page-searchinputbar {
  top: 80px;
  max-width: 860px;
  min-width: 330px;
  width: 70%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-shrink: 0;
  border-radius: 20px;
}
.search-page-textinput {
  left: 0px;
  border-style: none;
  width: 85%;
  height: 40px;
  position: absolute;
  font-size: 15;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  padding-top: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 20px;
  padding-right: 7%;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.search-page-searchbutton {
  top: 0px;
  left: 80%;
  max-width: 100px;
  min-width: 80px;
  width: 20%;
  bottom: 0px;
  height: 42px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
}
.search-page-search {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 23px;
  margin: auto;
  position: absolute;
}
.search-page-menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 35px;
}
.search-page-thq-dropdown {
  top: 165px;
  left: 255px;
  width: 300px;
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  background-image: linear-gradient(90deg, rgb(47, 28, 158) 0.00%,rgb(99, 81, 208) 100.00%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search-page-dropdown-toggle {
  gap: var(--dl-space-space-halfunit);
  top: 0px;
  fill: #595959;
  left: 0px;
  color: #ffffff;
  width: 100%;
  bottom: 0px;
  height: 39px;
  margin: auto;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search-page-text04 {
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-family: Montserrat Alternates;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.search-page-dropdown-arrow {
  transition: 0.3s;
}
.search-page-icon {
  fill: #ffffff;
  width: 30px;
  height: 26px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.search-page-dropdown-list {
  top: 50px;
  left: 0px;
  width: 300px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items:stretch;
  border-radius: 20px;
  flex-direction: column;
  list-style-type: none;
  background-color: #3E4561;
  list-style-position: inside;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  min-height: 50px;
  min-width: 280px;
}
.search-page-dropdown {
  cursor: pointer;
  left: 0px;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-page-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 50px;
  left: 0px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.search-page-dropdown-toggle1:hover {
  left: 0px;
  fill: #fff;
  color: #fff;
  background-color: #555C76;
}
.search-page-text07 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat Alternates;
  font-weight: 400;
  padding: 5px;
}
.search-page-dropdown1 {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-page-dropdown2 {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.search-page-dropdown3 {
  cursor: pointer;
  height: 50px;
  display: inline-block;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10;
  border-bottom-right-radius: 10;
}
.search-page-form {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 125;
  display: flex;
  position: absolute;
  background-image: linear-gradient(0deg, rgb(47, 28, 158) 1.00%,rgba(44, 62, 80, 0) 100.00%);
}





textarea:focus, input:focus{
  outline: none;
}

ul {
  padding-left: 0;
  list-style-type:none;
}

a.text:active, a.text:hover, a.text {
  text-decoration: none;
  color: rgb(0, 0, 0);
}