<body style="background-color: #0C0D18; background-image: url(/assets/playground_assets/pastedimage-42p-2400h.png);
background-repeat: no-repeat; background-position: center center; background-attachment: fixed;">
<div class="catalog-page-container">
  <div class="catalog-page-frame-searchpage">
    <header class="catalog-page-frame-header">
      <button class="catalog-page-menuburgerbutton">
        <img
          alt="MainmenuI278"
          src="/assets/playground_assets/mainmenui278-di79-200h.png"
          class="catalog-page-mainmenu"
        />
        <img
          alt="MenubuttonI293"
          src="/assets/playground_assets/menubuttoni293-t8je.svg"
          class="catalog-page-menubutton"
        />
      </button>
      <button class="catalog-page-logobutton">
        <span class="catalog-page-text"><span>technics nearby.</span></span>
      </button>
      <span class="catalog-page-text02"><span>войти</span></span>
    </header>

    <search-inputbar rootClassName="search-inputbar"></search-inputbar> 
    
    <div class="catalog-page-optionmenu">
      <div class="catalog-page-menu-container">
        
        <div class="optionwindow-optionwindow" *ngFor="let element of itemsToDisplay">
          <div class="optionwindow-priceblock">
            <span class="optionwindow-text"><span>Цена</span></span>
            <span class="optionwindow-text02"><span>от</span></span>
            <span class="optionwindow-text04"><span>до</span></span>
            <div class="optionwindow-frame14">
              <div class="optionwindow-frame2">
                <span class="optionwindow-text06 MontserratText">
                  <span> <a href="{{ element.urls[0].product_URL }}" target="_blank">{{ element.urls[0].product_shop }}</a> </span>
                </span>
                <span class="optionwindow-text08 MontserratText">
                  <span> {{ element.urls[0].cost.product_cost }} руб </span>
                </span>
              </div>
              
              <div class="optionwindow-texthighlightbutton">
                <span class="optionwindow-text22">
                  <span>
                  <a href="/products/product-page/{{ element.product_ID }}" class="text">Полный список</a>
                </span>
                </span>
              </div>
            </div>
            <form class="optionwindow-form"></form>
          </div>
          <div class="optionwindow-productblock">
            <span class="optionwindow-text26"><a href="/products/product-page/{{ element.product_ID }}" class="text">{{ element.product_name }}</a></span>
            <span class="optionwindow-text24"><span>Характеристики:</span></span>
            <span class="optionwindow-text27">{{ text }}</span>
          </div>
          <form class="optionwindow-form1">
            <img
              src = "{{element.pictures[0].picture_URL}}"
              class="optionwindow-image"
            />
          </form>
        </div>

      </div>

      <div class="d-flex text-white justify-content-center">


        <app-pagination 
        [current]="current" [total]="total" (goTo)="onGoTo($event)" (next)="onNext($event)" (previous)="onPrevious($event)">
        </app-pagination>
        

      </div>

    </div>
    <div data-thq="thq-dropdown" class="catalog-page-thq-dropdown list-item">
      <div data-thq="thq-dropdown-toggle" class="catalog-page-dropdown-toggle">
        <span class="catalog-page-text04">
          <span>сортировать по</span>
          <br />
        </span>
        <div data-thq="thq-dropdown-arrow" class="catalog-page-dropdown-arrow">
          <svg viewBox="0 0 1024 1024" class="catalog-page-icon">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="catalog-page-dropdown-list">
        <li data-thq="thq-dropdown" class="catalog-page-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="catalog-page-dropdown-toggle1"
            (click)="doSorting('min_price_asc')"
          >
            <span class="catalog-page-text07">
              <span>возрастанию минимальной цены</span>
              <br />
            </span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="catalog-page-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="catalog-page-dropdown-toggle1"
            (click)="doSorting('max_price_asc')"
          >
          <span class="catalog-page-text07">возрастанию максимальной цены</span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="catalog-page-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="catalog-page-dropdown-toggle1"
            (click)="doSorting('min_price_desc')"
          >
            <span class="catalog-page-text07">убыванию минимальной цены</span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="catalog-page-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="catalog-page-dropdown-toggle1"
            (click)="doSorting('max_price_desc')"
          >
            <span class="catalog-page-text07">
              <span>убыванию максимальной цены</span>
              <br />
            </span>
          </div>
        </li>
      </ul>
    </div>
    <form class="catalog-page-form"></form>
  </div>
</div>
</body>